
.menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  text-align: center;
  background:  #2a2a32;
  -webkit-transition: left 0.5s ease-in-out,opacity 0.3s ease-in-out;
  transition: left 0.5s ease-in-out,opacity 0.3s ease-in-out;
  z-index: 2;

  li {
    font-size: 14px;
    line-height: 56px;
    color: $main-white-color;
    text-transform: uppercase;
    letter-spacing: 3px;
    @include aktivegrotesk-light();

    a {
      color: $main-white-color;
      -webkit-transition: color 300ms ease-in-out 50ms;
      transition: color 300ms ease-in-out 50ms;

      &.active,
      &:hover {
        color: #96c11f;
      }
    }
  }
  &_opened {
    left: 0;
  }
  &__wrap {
    padding: 120px 30px 20px;
    background: url("../img/preloader-logo.png") no-repeat center 30px;

    > ul {
      text-align: left;
      margin-bottom: 50px;
    }
  }
  &__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 2;
    display: block;
    padding: 0;
    background: none;
    border: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    span {
      position: absolute;
      top: 50%;
      left: 10px;
      right: 10px;
      display: block;
      height: 4px;
      margin-top: -2px;
      background-color: #73797e;
      font-size: 0;
      -webkit-transition: background-color 0.2s;
      transition: background-color 0.2s;

      &:before,
      &:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: #73797e;
        content: '';
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
      }
      &:before {
        -webkit-transform: translateY(-220%);
        transform: translateY(-220%);
      }
      &:after {
        -webkit-transform: translateY(220%);
        transform: translateY(220%);
      }
    }
    &_opened {

      span {
        background-color: transparent;

        &:before {
          -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
        }
        &:after {
          -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
        }
      }
    }
  }
}

@media (min-width: $tablet-portrait) {


}

@media (min-width: $tablet-landscape) {

  .menu {
    position: absolute;
    top: 56px;
    left: auto;
    height: auto;
    right: 0;
    width: auto;
    bottom: auto;
    text-align: left;
    background: transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;

    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 29px;
      color: rgba(255,255,255,.4);
      font-size: 11px;

      a {
        color: rgba(255,255,255,.7);

        &:hover,
        &.active {
          color: rgba(255,255,255,1);
        }
      }
    }
    .btn {
      display: inline-block;
      vertical-align: middle;
    }
    &_opened {
      left: auto;
    }
    &_fixed {
      position: fixed;
      top: 0;
      right: 0 !important;
      left: 0;
      height: 120px;
      background: #fff;
      text-align: center;

      li {
        color: #999;

        a {
          color: #999;

          &:hover,
          &.active {
            color: #96c11f;
          }
        }
      }
      .menu__wrap{
        padding-top: 31px;
      }
      .btn-ellipse{
        position: relative;
      }
    }
    &_fixed-out {
      -webkit-transform: translateY( -120px );
      transform: translateY( -120px );
    }
    &_inner {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      overflow-y: initial !important;

      .btn_ellipse {
        position: absolute;
        right: 0;
        top: -2px;
      }
      &.menu_fixed .btn_ellipse {
        position: relative;
        vertical-align: top;
        border-color: #96c11f;
        box-shadow: none;

        &:hover {
          background: #96c11f;
          color: #fff;
        }
      }
    }
    &__wrap {
      padding: 0;
      background: none;

      > ul {
        display: inline-block;
        vertical-align: middle;
      }
    }
    &__btn {
      display: none;
    }
  }
  /* --------------- /menu --------------- */
}

@media (min-width: $desktop) {


}

@media (min-width: $desktop-wide) {


}

@media (min-width: $desktop-full) {

}

