//fonts
@mixin proxima-regular() {
  font-family: "proximanova-regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin proxima-thin() {
  font-family: "proximanova-thin", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin proxima-light() {
  font-family: "proximanova-light", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin proxima-semibold() {
  font-family: "proximanova-semibold", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin proxima-bold() {
  font-family: "proximanova-bold", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin museo100() {
  font-family: "museo100", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin museo300() {
  font-family: "museo300", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin museo500() {
  font-family: "museo500", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin aktivegrotesk-regular() {
  font-family: "aktivgrotesk-regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin aktivegrotesk-light() {
  font-family: "aktivgrotesk-light", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin aktivegrotesk-bold() {
  font-family: "aktivgrotesk-bold", sans-serif;
  font-weight: 400;
  font-style: normal;
}

//justify
@mixin justify() {
  text-align: justify;

  &:after {
    display: inline-block;
    width: 100%;
    content: '';
  }
}

//blockCentered
@mixin blockCentered() {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

//absolutePosition
@mixin absolutePosition() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

//absoluteCenter
@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}
@mixin absoluteCenterX() {
  position: absolute;
  left: 50%;
  transform: translateX( -50% );
}
@mixin absoluteCenterY() {
  position: absolute;
  top: 50%;
  transform: translateY( -50% );
}

//transform
@mixin transform-translate( $posX, $posY ) {
  -webkit-transform: translate( $posX, $posY );
  transform: translate( $posX, $posY );
}
@mixin transform-rotate( $deg ) {
  -webkit-transform: rotate( $deg + deg );
  transform: rotate( $deg + deg );
}
@mixin transform-scale( $num ) {
  -webkit-transform: scale( $num );
  transform: scale( $num );
}

//transition
@mixin transition( $property, $duration, $delay ) {
  -webkit-transition: $property $duration+s linear $delay+s;
  transition: $property $duration+s linear $delay+s;
}

//fixedCenterY
@mixin fixedCenterY() {
  position: fixed;
  top: 50%;
  transform: translateY( -50% );
}
