
.treasury {

  &_other {

    .treasury__grid-card a {
      right: 62px;
    }
    .treasury__grid-title{
      left: 57px;
    }
  }
  &_most-recent {
    margin-bottom: 60px;

    .treasury__header {
      text-align: center;
      margin-bottom: 30px;
    }
  }
  &__title {
    position: relative;
    margin-bottom: 30px;
    font-size: 36px;
    @include museo100();
    color: #96c11f;
    font-weight: 400;

    span {
      color: #999;
      padding-top: 11px;
      display: block;
      font-size: 24px;
    }
  }
  &__grid {
    position: relative;
  }
  &__grid-card {
    display: block;
    width: 100%;
    position: relative;
    padding-bottom: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    cursor: pointer;

    &:before {
      z-index: 1;
      content: '';
      position: absolute;
      top: 50%;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(0,0,0,0);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.5)));
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    }
    &:hover {

      > div {

        &:first-child {
          opacity: 1;
        }
      }
      .treasury__grid-title {
        bottom: 40px;

        > span {
          opacity: 1;
        }
      }
    }
    > div {

      &:first-child {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        -webkit-transition: opacity 500ms ease-in-out;
        transition: opacity 500ms ease-in-out;
        z-index: 2;
      }
    }
    a {
      position: absolute;
      width: 50px;
      height: 50px;
      background: url("../img/treasury__grid-card-btn.png") no-repeat center;
      top: 26px;
      right: 26px;
      overflow: hidden;
      text-indent: -10000px;
    }
  }
  &__grid-title {
    position: absolute;
    bottom: 5px;
    left: 40px;
    right: 40px;
    z-index: 3;
    -webkit-transition: bottom 500ms ease-in-out;
    transition: bottom 500ms ease-in-out;

    h2 {
      font-size: 30px;
      color: #fff;
      font-family: museo100, sans-serif;
      font-weight: 400;
      margin-bottom: 5px;
      white-space: nowrap;
    }
    > span {
      display: block;
      width: 100%;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-transition: opacity 500ms ease-in-out;
      transition: opacity 500ms ease-in-out;
      opacity: 0;
      @include proxima-semibold();

      > span {
        font-family: museo100, sans-serif;
      }
    }
  }
}

@media (min-width: $tablet-portrait) {

  .treasury {

    &_other {

      .treasury__grid-title{
        bottom: 50px;
      }
      .treasury__grid-card {

        &_long {

          a {
            border-color: #96c11f;
          }
        }
        &:hover {

          .treasury__grid-title {
            bottom: 47%;
          }
        }
        &:nth-child(1),
        &:nth-child(2) {

          .treasury__grid-title {
            right: 250px;
          }
        }
        &:nth-child(2) {

          a {

            &:before{
              background: #96c11f;
            }
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
    &_most-recent {

      .treasury__grid {

        > div {
          padding-bottom: 57.8125%;
          margin-bottom: 18px;
        }
      }
      .treasury__grid-card {
        left: 1.5625%;
        width: 96.875%;
        padding-bottom: 18.22916667%;

        &_big-right {
          top: auto;
          bottom: 0;
        }
        &_long {
          top: 34.2342342342%;
        }
        &_long-left {
          top: 0;
        }
        &_medium,
        &_small {
          top: auto;
          bottom: 0;
          width: 30.1%;
        }
        &_medium-left,
        &_small-left {
          top: 34.2342342342%;
          bottom: auto;
        }
        &_medium {
          width: 65.1763537%;
          left: auto;
          right: 1.5625%;
        }
      }
    }
    &__grid {

      > div {
        width: 100%;
        padding-bottom: 42.7083333333%;
        position: relative;
      }
    }
    &__grid-card {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding-bottom: 21.35416667%;

      &_long {
        top: 50%;
      }
      &_big,
      &_long {

        a {
          width: auto;
          top: 50%;
          border: 2px solid $main-white-color;
          border-radius: 3px;
          line-height: 52px;
          display: inline-block;
          -webkit-backface-visibility: hidden;
          height: 54px;
          margin-top: -27px;
          padding: 0 29px 0 28px;
          background: none;
          color: $main-white-color;
          opacity: 1 !important;
          text-indent: 0;
          font-size: 14px;
          text-transform: uppercase;
          -webkit-transition: color 0.4s;
          transition: color 0.4s;
          -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
          @include proxima-semibold();

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            z-index: 1;
            opacity: 0;
            -webkit-transform: scale3d(0.7, 1, 1);
            transform: scale3d(0.7, 1, 1);
            -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
            transition: transform 0.4s, opacity 0.4s;
          }
          &:hover {
            color: #96c11f;

            &:before {
              opacity: 1;
              -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
            }
          }
          > span {
            position: relative;
            z-index: 2;
          }
        }
        .treasury__grid-title {
          right: 210px;
        }
      }
      &:nth-child(2) {
        top: 50%;
      }
      &:hover {

        .treasury__grid-title {
          bottom: 50%;
        }
      }
    }
    &__grid-title {
      top: auto !important;
      bottom: 30px;
      margin-bottom: -25px;
      -webkit-transition: bottom 500ms ease-in-out;
      transition: bottom 500ms ease-in-out;
    }
  }
}

@media (min-width: $tablet-landscape) {

  .treasury {

    &_other {

      .treasury__grid-title {

        h2{
          font-size: 47px;
          margin-bottom: 10px;
        }
        > span{
          font-size: 23px;
        }
      }
    }
    &_most-recent {

      .treasury__grid {
        margin-bottom: 136px;

        > div {
          width: 100%;
          padding-bottom: 38.02083333%;
          position: relative;
          margin-bottom: 28px;
        }
      }
      .treasury__header {
        text-align: center;
        display: table;
        width: 1024px;
        margin: 0 auto 136px;
      }
      .treasury__grid-title {
        bottom: 54px;
      }
      .treasury__grid-card {
        left: 1.5625%;
        width: 47.65625%;
        padding-bottom: 38.02083333%;

        &_long {
          left: auto;
          right: 1.5625%;
          padding-bottom: 18.22916667%;
        }
        &_small,
        &_medium {
          top: auto;
          left: 50.78125%;
          bottom: 0;
          width: 14.0625%;
          padding-bottom: 18.22916667%;
        }
        &_medium {
          width: 32.03125%;
          left: auto;
          right: 1.5625%;
        }
        &_big-right {
          left: auto;
          right: 1.5625%;
        }
        &_small-left,
        &_medium-left {
          left: 1.5625%;
          right: auto;
        }
        &_long-left {
          left: 1.5625%;
          right: auto;
        }
        &_medium-left {
          left: 17.18125%;
        }
      }
    }
    &__grid {

      > div {
        padding-bottom: 21.35416667%;
      }
    }
    &__grid-card {
      width: 50%;

      &:nth-child(2),
      &_long {
        top: 0;
        left: 50%;
      }
    }
  }
}

@media (min-width: $desktop) {

  .treasury {

    &_most-recent {

      .treasury__grid > div {
        width: 100%;
        padding-bottom: 38.02083333%;
        position: relative;
        margin-bottom: 28px;
      }
      .treasury__grid-title {
        bottom: 54px;
      }
      .treasury__grid-card {
        left: 1.5625%;
        padding-bottom: 38.02083333%;

        &_long {
          left: auto;
          top: 0;
          right: 1.5625%;
          padding-bottom: 18.22916667%;
        }
        &_small,
        &_medium {
          top: auto;
          left: 50.78125%;
          bottom: 0;
          width: 14.0625%;
          padding-bottom: 18.22916667%;
        }
        &_medium {
          width: 32.03125%;
          left: auto;
          right: 1.5625%;
        }
        &_big-right {
          left: auto;
          right: 1.5625%;
        }
        &_long-left,
        &_small-left {
          left: 1.5625%;
        }
        &_medium-left {
          left: 17.18125%;
        }
      }
    }
  }
}

@media (min-width: $desktop-wide) {


}

@media (min-width: $desktop-full) {


}

